<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>{{ form.login.label }} {{ form.login }}</p>
        <p>{{ form.password.label }} {{ form.password }}</p>
        <p><input type="submit" value="Sign In"></p>

        {% for attr, errors in form.errors.items() %}
            {% for error in errors %}
            <p>{{attr}}: {{error}}</p>
            {% endfor %}
        {% endfor %}
    </form>
</body>
</html>
